*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #aad3f5;
}
.heading{
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(0, 0, 255);
  margin-bottom:25px;
}
.login-form{
  width:375px;
  padding: 0 5px;
  display: block;
  margin: 40px auto 0 auto;
}
.form{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  width:100%
}
.form input,.signup-btn{
  margin-bottom: 25px;
  padding: 14px;
  border: none;
  /* outline:2px solid rgb(0, 0, 255); */
  color:black;
  font-size: 14px;
  border-radius: 5px;
}
.form input::placeholder{
  color: #bbbbbb;
  font-size: 15px;
}
.form input:focus{
  outline:3px solid rgb(0, 0, 255)
}
.signup-btn{
  margin-top: 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  background-color: rgb(0, 0, 255);
  color: white;
  cursor: pointer;
}
.alert{
  text-align: center;
  color:green;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.para{
  padding:28vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:28px;
  color: rgb(0, 0, 255);
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:375px){
    .login-form{
      width:300px;
    }
}
